lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

db
!db/.gitkeep

public
!public/.gitkeep
!public/css/.gitkeep
!public/img/.gitkeep
!public/js/.gitkeep

assets
!assets/.gitkeep
!assets/styles/.gitkeep
!assets/images
!assets/scripts/.gitkeep

