lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

db
!db/.gitkeep

public
!public/css/.gitkeep
!public/img/.gitkeep
!public/js/.gitkeep

assets
!assets/README.md
!assets/css/README.md
!assets/img/README.md
!assets/js/README.md

