  <section id="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <h2>DEMO</h2>
          <ul>
            <li><span class="bg-info"><%= bodyText %></span><br />created on <strong><%= new Date(created).toLocaleString() %></strong><br /></li>
          </ul>
          <hr />
          <p class="bg-warning">page updated on <strong><%= new Date(Date.now()).toLocaleString() %></strong></p>
        </div>
      </div>
    </div>
  </section>
